.container {
    width: 300px;
    height: 510px;
    max-height: 510px;
    text-align: center;
}

.cardMoreDetails {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #11172d;
    transition: color 0.3s;
    border-top: 1px solid #50cd65;
}

.cardName {
    margin: 0 0 16px 0;
    font-size: 16px;
}

.cardImgContainer {
    height: 200px;
    overflow: hidden;
    margin-bottom: 16px;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardInformationWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.descriptionInformation {
    margin-right: 10px;
}
