*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* min-width: 1100px; */
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: rgb(15, 19, 36);
  background-image: url('../../../assets/Rectangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.container {
  margin: auto;
  /* width: 100%; */
  min-width: 375px;
  min-height: 100vh;
  background-color: rgb(15, 19, 36);
  background-image: url('../../../assets/Rectangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0px 15px 0px 15px;
}

.outlet {
  width: 100%;
  min-height: calc(100vh - 100px);
}
