.head {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-inline: 8vw;
  position: relative;
}

.guestActions {
  min-width: 558px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}

.userActions {
  height: 41px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3vw;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 0.3s;
}

.user:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.avatarIcon {
  color: #4caf50;
}

.username {
  color: white;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
}
